*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #5a58db;
  --clr-accent: #90b7f1;
  --clr-gry: #e8e8e8;
}

body {
  background-color: var(--clr-gry);
  overflow-x: hidden;
}

.bg_color {
  background: var(--clr-primary) !important;
}

.nav_fixed {
  padding: 0 !important;
  position: fixed;
  width: 100%;
}

.txt_color {
  color: white !important;
}
.img_logo {
  height: 3.5rem;
  width: auto;
}

.ul_nav {
  grid-column-gap: 2rem;
  width: 100%;
  justify-content: center;
}

.nav-item:first-child,
.nav-item:last-child {
  margin-left: auto;
  padding: 0;
}
.login_btn {
  background: var(--clr-accent);
  padding: 0.2em 1em !important;
  border-radius: 1.25em;
}

.btn_4 {
  outline: none;
  color: transparent;
  position: relative;
}
.btn_4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: transform 250ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
  background-color: rgb(243, 190, 17);
}
.btn_4:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.login_btn {
  display: flex;
}
.arrow_ {
  transition: transform 250ms ease;
}
.login_btn:hover .arrow_ {
  transform: translateX(7.5px);
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.img_section {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.img_doctor {
  height: 70vh;
}

.heading__ {
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  margin: 5rem 0 2rem 0;
}

.heading__::before {
  content: "";
  position: absolute;
  width: 19.5%;
  height: 9.5px;
  background-color: var(--clr-primary);
  border-radius: 2rem;
  top: 0.1rem;
}
.title_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
  margin-left: 6rem;
}

button.btn_book_appointment {
  border: none;
  outline: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  border-radius: 0.25em;
  padding: 0.4em 0.8em;
}

.btn_1 {
  position: relative;
  z-index: 1;
  transition: color 150ms ease-in-out 100ms;
}
.btn_1::after {
  border-radius: 0.25em;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  z-index: -1;
  transition: transform ease 250ms;
  transform: scaleX(0);
  transform-origin: right;
}
.btn_1:hover {
  color: white;
}
.btn_1:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.p.desc {
  margin: 1rem 0 2rem 0;
}

.foot {
  display: flex;
  padding: 1.5rem;
  background-color: var(--clr-primary);
}
.social {
  margin-top: 1rem;
  margin-left: 23rem;
}
.don {
  height: 10vh;

  padding: 0rem;
  background-color: red;
}

.inp {
  padding: 0px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 4.6rem;
  padding: 50px;
  width: 35rem;
  background-color: white;
  box-shadow: 4px 4px 10px grey;
}

.data_inp {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.but_app {
  margin-top: 20px;
  padding: 8px;
  border-radius: 30px;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  font-weight: bold;
}

.but_app:hover {
  background-color: var(--clr-primary);
  color: white;
  border: 1px solid var(--clr-primary);
  font-weight: bold;
}
.log {
  padding: 2rem;
  margin: 11.5rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px grey;
  width: 30rem;
}
.in_dat {
  margin: 10px;
}
.but_ {
  margin-top: 1rem;
  padding: 4px;
  width: 80px;
  border-radius: 30px;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  font-weight: bold;
}
.pbox {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 18rem;
  width: 40rem;
  height: 15rem;
  border: 3px solid black;
  background-color: #dbdffd;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #333;
}
.list {
  list-style-type: none;
}
.dat {
  font-size: 22px;
}
.tok {
  font-weight: bold;
  padding: 10px;
  margin: 1rem;
  width: 30px;
  background-color: var(--clr-accent);
  border-radius: 20px;
}
.patient_img {
  margin-top: 2rem;
  width: 15rem;
  padding: 4px;
  border: 2px solid black;
}

.blood {
  margin-top: 1rem;
  margin-right: 2rem;
}
.blood_ {
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 38px;
  background-color: #f24c4c;
  border-radius: 25px;
}

.btn_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
